@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fffcf2;
}

.bar {
  height: 5vh;
  background-color: #68b9b1;
}

nav, header {
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav {
  width: 30%;
}

header a {
  color: rgb(32, 32, 32);
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 500;
}

a.active-link {
  font-weight: bold;
  text-decoration: underline;
  color: #99479c;
}

.logo-project {
  color: #d07eff;
  font-weight: 650;
}

.logo-shop {
  color: #94f3ea;
  font-weight: 450;
}

.logo {
  background-color: #252525;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 2rem;
}

/* Footer Styling */

.footer {
  background-color: #5f2c61;
  margin: 0;
  height: 7vh;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer img {
  width: 180px;
  height: 80%;
  margin: 7px 0 0 7px;
}

/* Home Page Styling */

.home-page {
  margin: 40px auto;
  width: 80vw;
  height: 70vh;
  flex: 1;
}

.home-logo {
  height: 200px;
  background-color: white;
  border: 2px solid #99479c;
  padding: 25px;
  border-radius: 6px;
  margin-top: 55px;
}

.intro {
  margin-top: 90px;
  display: flex;
  gap: 100px;
}

.intro-paragraph h1,
.employee-info h1 {
  color: #64dbcf;
  margin: 0;
  font-size: 5.5rem;
  text-shadow: 4px 4px 1px #99479c;
  line-height: 6rem;
}

.intro-paragraph p {
  color: #5f2c61;
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: 450;
}

.btns-container {
  width: 40%;
  margin: 20px 0 0 475px;
  display: flex;
  justify-content: space-around;
}

.about-btn{
  border: 2px solid #99479c;
  color: #99479c;
}

.contact-btn {
  background-color: #5f2c61;
  color: #fffcf2;
}

.btns-container a{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 800;
  padding: 20px 30px;
  border-radius: 2px;
  width: 250px;
  text-align: center;
}

/* Project Page Styling */

.project-card {
  border: 2px solid #5f2c61;
  border-radius: 4px;
  color: #252525;
  width: 20vw;
  box-shadow: 2px 2px 10px #818181;
  margin-bottom: 30px;
}

.project-card h1 {
  background-color: #5f2c61;
  margin: 0;
  padding: 8px 4px;
  text-align: center;
  color: #fffcf2;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card p {
  margin-left: 15px;
  font-weight: 500;
}

.cards-container {
  margin: 40px 140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Listings Page Styling */

.listings-page {
  margin: 60px 160px;
}

/* Contact Page Styling */

.contact-page {
  margin: 120px 400px;
  text-align: center;
}

.contact-page h1, 
.contact-page h2, 
.contact-page h3 {
  font-weight: 400;
  color: #252525;
} 


.contact-page h1 {
  font-size: 3.5rem;
  color: #5f2c61;
  margin: 0;
}

.contact-page h2 {
  font-size: 2.5rem;
  margin-top: 30px;
}

.contact-page h3 {
  margin-top: 10px;
  font-size: 1.85rem;
}

.contact-page p {
  font-size: 1.2rem;
  text-decoration: underline;
  cursor: pointer;
}

.contacts-container {
  display: flex;
  justify-content: space-around;
}

.contact {
  width: 400px;
}

/* About Page Styling */ 

.about-page {
  margin: 25px 100px;
}

.top {
  display: flex;
}

.employee-info {
  width: 100%;
  padding: 0 100px;
  text-align: left;
}

.employee-info h1 {
  font-size: 3.5rem;
}

.employee-info h2 {
  font-size: 2.5rem;
  margin: 0;
  color: #252525;
}

.employee-info p {
  text-indent: 40px;
  line-height: 1.8rem;
  font-size: 1.4rem;
  color: #252525;
}

.top img {
  border: 2px solid #99479c;
  border-top: 12px solid #99479c;
  border-radius: 4px;
  width: 300px;
  margin-top: 25px;
}

.legend {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.legend p {
  font-size: 0.85rem;
  margin: 5px 0;
  font-weight: 500;
}

.employee2 {
  text-align: end;
}
